body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

/* common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* HEADER */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.contacts {
  display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo .logo-header-part {
  color: #2e2f42;
}

.logo-header {
  padding: 16px 0;
  display: block;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .logo-header {
    padding: 24px 0;
    margin-right: 120px;
  }
  .header-nav {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-link.current {
    position: relative;
    text-decoration: none;
  }
  .nav-link.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus,
  .nav-link.current {
    color: #404bbf;
  }
  .contacts {
    font-style: normal;
    display: block;
  }
  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contacts-link {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1158px) {
  .logo-header {
    margin-right: 76px;
  }
  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 0;
  }
  .contacts {
    margin-left: auto;
  }
}

/* mobile menu */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 72px;
  padding-bottom: 40px;
}

.btn-close {
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
}

.btn-close:hover,
.btn-close:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}

.btn-close:hover .icon-close,
.btn-close:focus .icon-close {
  fill: #ffffff;
}

.icon-close {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-link:hover,
.mobile-menu-nav-link:focus,
.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.adress-link {
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
}

.adress-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.icon-item {
  height: 40px;
  width: 40px;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.icon-svg {
  fill: #f4f4fd;
}

.mobile-menu-icon-list {
  padding-top: 48px;
  gap: 40px;
}

.mobile-menu-icon-link:hover,
.mobile-menu-icon-link:focus {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/* SECTION ONE */

.solutions-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-one {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 320px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding: 72px 0;
}

.title {
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 216px;
}

.title-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  display: block;
  margin-left: 0;
  margin-right: 0;
  min-width: 169px;
  height: 56px;
  margin-top: 72px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:hover,
.title-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .section-one {
    max-width: 768px;
    padding: 112px 0;
  }
  .title {
    font-size: 56px;
    line-height: 107%;
    max-width: 496px;
  }
  .title-button {
    margin-top: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .section-one {
    max-width: 1140px;
    padding: 188px 0;
  }
  .title-button {
    margin-top: 48px;
  }
}

/* SECTION TWO */
.item-img {
  display: none;
}

.section-two {
  padding: 96px 0;
  margin-left: auto;
  margin-right: auto;
}

.qualities-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.section-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .qualities-list {
    display: flex;
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
  }
  .quality-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .section-title {
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .section-two {
    padding: 120px 0;
  }
  .qualities-list {
    flex-wrap: nowrap;
  }
  .quality-item {
    width: calc((100% - 48) / 3);
  }
  .item-img {
    display: flex;
    width: 100%;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    align-items: center;
    justify-content: center;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }
  .section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .section-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}

/* SECTION THREE */

.section-three {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.subtitle {
  line-height: 1.11;
  font-size: 36px;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  align-items: center;
  justify-content: center;
}

.list-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(108, 108, 111, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.box-item {
  padding: 32px 0;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    gap: 64px 24px;
  }
  .list-item {
    width: calc((100%-24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
  }
  .section-three {
    padding: 120px 0;
  }
  .list-item {
    width: calc((100%-72px) / 4);
  }
}

/* SECTION FOUR */

.section-four {
  padding: 96px 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.list-item-portfolio {
  background-color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-overlay {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translateY(100%);
  height: 100%;
  width: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item-portfolio:hover .text-overlay {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  transform: translateY(0);
}

.portfolio-box {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section-title-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-text-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
  }

  .list-item-portfolio {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .section-four {
    padding: 120px 0;
  }
  .portfolio-list {
    row-gap: 48px;
  }
  .list-item-portfolio {
    width: calc((100% - 48px) / 3);
  }
}

/* FOOTER */

.page-footer {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
  margin: 0;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
}

.social-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.form-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  text-align: center;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}

.logo .logo-footer-part {
  color: #f4f4fd;
}

.footer-list {
  gap: 16px;
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.input-footer {
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
}

.input-footer::placeholder {
  color: #fff;
}

.btn-footer {
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  background-color: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
  margin: 0 auto;
}

.btn-footer:hover,
.btn-footer:focus {
  background-color: #404bbf;
}

.footer-svg {
  margin-left: 16px;
  fill: #fff;
}

.form-field {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .footer-text {
    max-width: 264px;
  }
  .social-media-text {
    text-align: start;
  }
  .form-text {
    text-align: start;
  }
  .footer-container {
    align-items: baseline;
    gap: 0;
    justify-content: flex-start;
  }
  .footer-logo {
    text-align: start;
  }
  .footer-form {
    gap: 24px;
  }
  .input-footer {
    width: 264px;
  }
  .footer-content {
    margin-right: 24px;
  }
  .form-field {
    margin-top: 72px;
  }
  .page-footer {
    padding-left: 108px;
  }
}

@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }
  .footer-content {
    margin-right: 120px;
  }
  .form-field {
    margin: 0 0 0 80px;
    padding: 0;
  }
}

/* UNKNOWN */

/* .icon-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.icon-item {
  height: 40px;
  width: 40px;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.icon-svg {
  fill: #f4f4fd;
} */
